In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('table.css').read() + open('notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
video_games = pd.read_json("videogames.json")
video_games.head(5)

,brand,categories,description,imUrl,price,productID,related,salesRank,title
1012282,Dark Age Miniatures,"[[Video Games, PC, Games]]",None,http://ecx.images-amazon.com/images/I/61IaJuP1...,31.23,0984529527,None,{'Toys & Games': 751946},Dark Age Apocalypse: Forcelists HC
1315355,None,"[[Video Games, PC, Games]]",Microsoft's Flight Simulator X is now making i...,http://ecx.images-amazon.com/images/I/41TaIYT%...,27.64,1557556741,"{'also_bought': ['B002JZH9E4'], 'buy_after_vie...",{'Video Games': 61369},None
1321069,None,"[[Video Games, PC, Games]]",CYBERPUNK VAMPIRE ROLE-PLAYING PC GAME SET IN ...,http://ecx.images-amazon.com/images/I/41HClAKt...,NaN,1558843477,None,{'Video Games': 56174},None
1336988,None,"[[Video Games, PC, Games]]",None,http://ecx.images-amazon.com/images/I/41PBCXQ3...,43.99,1563820412,None,{'Software': 47380},None
1377319,Palladium Books,"[[Video Games, Nintendo DS, Games]]",The Rifter is your doorway to unlimited imagin...,http://ecx.images-amazon.com/images/I/41r7cYfc...,9.55,1574571931,"{'also_bought': ['157457194X', '1574571923', '...",{'Toys & Games': 594770},Rifts RPG: The Rifter&reg; #56

In [4]:
ratings = pd.read_csv("ratings.csv")
ratings.head(5)

           userID   productID  ratings   timestamp
0  A24SSUT5CSW8BH  0078764343      5.0  1377302400
1   AK3V0HEBJMQ7J  0078764343      4.0  1372896000
2  A10BECPH7W8HM7  043933702X      5.0  1404950400
3  A2PRV9OULX1TWP  043933702X      5.0  1386115200
4   AE7GUHCDQQ4UI  043933702X      1.0  1366156800

#### Filter out video games which have no title

In [5]:
video_games = video_games[~video_games.title.isnull()]

#### Filter out video games which have less than 5 ratings

In [6]:
productID_counts = ratings['productID'].value_counts()
ratings = ratings[ratings['productID'].isin(productID_counts[productID_counts >= 5].index)]

#### Filter out users which have less than 5 ratings

In [7]:
userID_counts = ratings['userID'].value_counts()
ratings = ratings[ratings['userID'].isin(userID_counts[userID_counts >= 5].index)]

#### Merge ratings and videogames dataframe on productID and set to df dataframe

In [8]:
df = pd.merge(video_games,ratings, on="productID")
df.head(5)
df.shape

(6834, 12)

#### Create a pivot matrix with index userID, columns productID and values ratings

In [9]:
ratings_pivot = df.pivot(index='userID', columns='productID').ratings
ratings_pivot.head(5)

productID,9572132148,9861019731,9882155456,B000007VDN,B00000JBL1,B00000JDDR,B00000JDDY,B00000JDFT,B00000JKMB,B00000K11D,...,B00ILALMZS,B00IRHE892,B00ISW0TGW,B00IXHP3A4,B00IXHP4IK,B00IY46KR6,B00JF2FAP4,B00JF2FFR2,B00JM61264,B00KGGJPX6
userID,,,,,,,,,,,,,,,,,,,,,
A01803182IUSFNIFF5984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A05026511FQMVPVJH3KP8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A0607295133OZ2DIJW5P8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A100JOT1GQ363B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A100O5QLORBZRO,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Set columns to productID variable

In [10]:
productID = ratings_pivot.columns
productID

Index(['9572132148', '9861019731', '9882155456', 'B000007VDN', 'B00000JBL1',
       'B00000JDDR', 'B00000JDDY', 'B00000JDFT', 'B00000JKMB', 'B00000K11D',
       ...
       'B00ILALMZS', 'B00IRHE892', 'B00ISW0TGW', 'B00IXHP3A4', 'B00IXHP4IK',
       'B00IY46KR6', 'B00JF2FAP4', 'B00JF2FFR2', 'B00JM61264', 'B00KGGJPX6'],
      dtype='object', name='productID', length=720)

#### Set index to userID variable

In [11]:
userID = ratings_pivot.index
userID

Index(['A01803182IUSFNIFF5984', 'A05026511FQMVPVJH3KP8',
       'A0607295133OZ2DIJW5P8', 'A100JOT1GQ363B', 'A100O5QLORBZRO',
       'A102IYTHZ0FJ3I', 'A102MU6ZC9H1N6', 'A102R0714VSMB', 'A103B6MQ5IF2BK',
       'A10566TEP2SO6I',
       ...
       'AZQBBG4HIA0CQ', 'AZQHYOURLCLZH', 'AZQPD0AKFKYK1', 'AZTK5F3MOH16Q',
       'AZUDF2ZSV6KK5', 'AZVCNOOQK36DH', 'AZYIAWJR9972L', 'AZYOVGJLQ03ML',
       'AZZ1KF8RAO1BR', 'AZZNK89PXD006'],
      dtype='object', name='userID', length=4795)

#### Create an average ratings and ratings count for each productID

In [12]:
average_rating = pd.DataFrame(df.groupby('productID')['ratings'].mean())
average_rating['ratingCount'] = pd.DataFrame(df.groupby('productID')['ratings'].count())
average_rating.sort_values('ratingCount', ascending=False).head()

             ratings  ratingCount
productID
B0009VXBAQ  4.467775          481
B003VANOFY  3.984733          131
B004QRKWLA  4.639344          122
B002J9GDXI  4.356522          115
B002I0JZOC  4.527778          108

#### Select video game with id of B0015AARJI and find similars from pivot

In [13]:
assasing_creed_ratings = ratings_pivot['B002I0JZOC']
similar2video_games = ratings_pivot.corrwith(assasing_creed_ratings)
similar2video_games.head(5)

/Users/cenk/.pyenv/versions/3.6.3/lib/python3.6/site-packages/numpy/lib/function_base.py:3159: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/cenk/.pyenv/versions/3.6.3/lib/python3.6/site-packages/numpy/lib/function_base.py:3093: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

productID
9572132148   NaN
9861019731   NaN
9882155456   NaN
B000007VDN   NaN
B00000JBL1   NaN
dtype: float64

#### Create a dataframe with pearsonR datas and drop NaNs

In [14]:
corr_assasin_creed = pd.DataFrame(similar2video_games, columns=['pearsonR']).dropna()

#### Join corr_bones and ratingsCounts

In [15]:
corr_summary = corr_assasin_creed.join(average_rating['ratingCount'])
corr_summary[corr_summary['ratingCount']>=5].sort_values('pearsonR', ascending=False).head(10)

            pearsonR  ratingCount
productID
B002I0JZOC  1.000000          108
B000LEFKXC  1.000000           29
B0009VXBAQ -0.944911          481

#### Get the name of the video games?

In [16]:
video_games[video_games["productID"] == "B002I0JZOC"].title

4207281    Assassin's Creed III Liberation PlayStation Vi...
Name: title, dtype: object

#### Check if out recommendations in related column of dataset

In [17]:
productIDs = corr_summary[corr_summary['ratingCount']>=5].sort_values('pearsonR', ascending=False).index.tolist()
video_games[video_games["productID"].isin(productIDs)]

,brand,categories,description,imUrl,price,productID,related,salesRank,title
2485185,None,"[[Video Games, Wii]]",,http://ecx.images-amazon.com/images/I/41xM31Qi...,29.99,B0009VXBAQ,"{'also_bought': ['B000FQ9R4E', 'B002672Z80', '...",{'Video Games': 360},Wii
2894078,General,"[[Electronics, Computers & Accessories, Cables...",Data & Power USB Cable for Sony PSP,http://ecx.images-amazon.com/images/I/41q3EMWZ...,5.23,B000LEFKXC,"{'also_bought': ['B000ASBKHE', 'B007ZH9OFI', '...",{'Video Games': 2209},Data &amp; Power USB Cable for Sony PSP
4207281,Sony,"[[Video Games, PlayStation Vita, Games]]",,http://ecx.images-amazon.com/images/I/51DmnCeF...,399.99,B002I0JZOC,"{'also_bought': ['B006JKASCK', 'B0050SW8OS', '...",{'Video Games': 2721},Assassin's Creed III Liberation PlayStation Vi...